$headerImage: '../img/sample2.jpg';
$white: #ffffff;
$grey: #9E9E9E;
$black: #000000;
$colorInput: #f3f3f3;
$headerColor: $white;
$bodyColor: $colorInput;
$btnColor: #097774;
$spanColor: #E8E8E8;
$footerBorder: #F0F0F0;