$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$mainTextColor: #757575;
$mainBackgroundColor: #efefef;
$backgroundImage: "../img/header_background_v2.jpg";
$borderColor: #cfd8dc;
$menuTextColor: #ff5722;
$buttonColor: #0401ac;
$buttonTextColor: #ffffff;
$articleColor: #ffffff;
$dateTextColor: #ccbdc3;
$postTitleColor: #607d8b;
$labelTextColot: $postTitleColor;