$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$mainTextColor: #000000;
$mainBackgroundColor: #ffffff;
$backgroundImage: "../img/header_background_v1.jpg";
$borderColor: #617f8d;
$menuTextColor: #ffffff;
$buttonColor: #01acac;
$buttonTextColor: #ffffff;
$articleColor: #efefef;
$dateTextColor: #e90303;
$postTitleColor: #0097a7;
$labelTextColot: $postTitleColor;